.contact-title {
  color: #fbaf19;
  padding-bottom: 5%;
}

.contact-col-1 {
  padding-right: 10%;
}

.contact-col-2 {
  padding-left: 10%;
}

.contact-form {
}

.contact-form-title {
  color: #fbaf19;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
}

.form-control,
.form-control.active {
  background-color: #121821;
  border: none;
  border-radius: 30px;
  color: #fbb019;
  position: relative;
}

.form-control:focus {
  background-color: #121821;
  color: #fbaf19;
  border: 3px solid #fbb019af;
}

.form-control::placeholder {
  color: #fbb01986;
}

/* #message::placeholder {
  position: absolute;
  bottom: 100%;
  left: 0%;
  transform: translate(0%, 50%);
  text-align: center;
  z-index: 2;
} */

.form-submit-container {
  display: flex;
  justify-content: center;
}

.form-submit {
  background-color: #fbaf19;
  color: black;
  font-weight: 500;
  border-radius: 20px;
  border: none;
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
