.ms-auto {
  margin-right: 10%;
}

.nav-button {
  border-radius: 20px;
  color: white;
  background-color: transparent;
  font-weight: 500;
  margin-right: 5%;
  text-decoration: none;
}

.nav-link.active {
  background-color: #fbaf19;
  color: black !important;
  border-radius: 20px;
}

@media only screen and (max-width: 770.98px) {
  .nav-button {
    width: 25%;
    text-align: center;
  }
}
