.product-title {
  color: #fbaf19;
}

.product-title-info {
  color: white;
}

.info-img {
  width: 100%;
}

.info-row {
  align-items: center;
}

.info-row p {
  color: #fbaf19;
  margin-left: -80%;
  margin-top: 20px;
  font-weight: bold;
}

@media only screen and (min-width: 766.98px) and (max-width: 991.98px) {
  .info-row p {
    margin-left: -45%;
  }
}

.info-col {
  margin: auto;
}
