.product-title {
  color: #fbaf19;
}

.product-title-info {
  color: white;
}

.info-img {
  width: 100%;
  /* margin-top: 5%; */
}

.info-row {
  align-items: center;
}

.info-row p {
  color: #fbaf19;
  margin-left: -80%;
  margin-top: 20px;
}

.info-col {
  margin: auto;
}

.checkdot {
  /* width: 100%; */
  /* margin: 5%; */
  position: relative;
  /* justify-content: center; */
}

.checkdot-icon {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  color: black;
}
